@import url(/css/index.css);
#foto {
  max-width: 1200px;
  width: auto;
  height: 40vh;
  display: flex;
  margin: 0 auto;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/img/img-contacto.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 2em auto 2em auto;
  color: white;
  text-align: center;
}
#foto h2 {
  color: white;
  text-align: center;
  margin-bottom: 1em;
  font-size: 35px;
  font-weight: medium;
}
#foto p {
  text-align: center;

  margin-bottom: 1em;
  font-size: 16px;
  font-weight: regular;
  color: white;
  line-height: 1.7;
  max-width: 700px;
  margin-left: auto; /* Margen automático para centrar dentro de #foto */
  margin-right: auto;
}

@media (max-width: 768px) {
  #foto {
    height: 50vh; /* Ajuste de altura para tabletas */
  }

  #foto h2 {
    font-size: 4vw; /* Ajuste de tamaño de fuente para tabletas */
  }

  #foto p {
    font-size: 3vw; /* Ajuste de tamaño de fuente para tabletas */
  }
}

@media (max-width: 480px) {
  #foto {
    height: 60vh; /* Ajuste de altura para dispositivos móviles */
  }

  #foto h2 {
    font-size: 6vw; /* Ajuste de tamaño de fuente para dispositivos móviles */
  }

  #foto p {
    font-size: 4vw; /* Ajuste de tamaño de fuente para dispositivos móviles */
  }
}
